In [5]:
%cd /content/sql_analysis_colab

/content/sql_analysis_colab

# Count, Pivioting & Sum Aggregation

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [10]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

#Count Custome in Saled Table

In [11]:
%%sql

SELECT
    COUNT(customerkey),
    orderdate
FROM
   sales
GROUP BY
   orderdate
ORDER BY
   orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3294 rows affected.

      count   orderdate
0        25  2015-01-01
1         8  2015-01-02
2        21  2015-01-03
3        10  2015-01-05
4        12  2015-01-06
...     ...         ...
3289     32  2024-04-16
3290     61  2024-04-17
3291     57  2024-04-18
3292     50  2024-04-19
3293     97  2024-04-20

[3294 rows x 2 columns]

#Count Distinct Customer Using DISTINCT

In [12]:
%%sql

SELECT
    COUNT(DISTINCT customerkey) AS total_customers ,
    orderdate
FROM
   sales
GROUP BY
   orderdate
ORDER BY
   orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3294 rows affected.

      total_customers   orderdate
0                   9  2015-01-01
1                   6  2015-01-02
2                  11  2015-01-03
3                   4  2015-01-05
4                   5  2015-01-06
...               ...         ...
3289               14  2024-04-16
3290               22  2024-04-17
3291               25  2024-04-18
3292               19  2024-04-19
3293               35  2024-04-20

[3294 rows x 2 columns]

# Calculate only for orders in 2023.

In [13]:
%%sql

SELECT
    COUNT(DISTINCT customerkey) AS total_customers ,
    orderdate
FROM
   sales
WHERE orderdate between  '2023-01-01' AND '2023-12-31'
GROUP BY
   orderdate
ORDER BY
   orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

     total_customers   orderdate
0                 12  2023-01-01
1                 49  2023-01-02
2                 64  2023-01-03
3                 78  2023-01-04
4                 87  2023-01-05
..               ...         ...
359               73  2023-12-27
360               75  2023-12-28
361               55  2023-12-29
362               91  2023-12-30
363                9  2023-12-31

[364 rows x 2 columns]

#Customers From Unique Continent

In [14]:
%%sql

SELECT DISTINCT
   continent
FROM
   customer

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

       continent
0      Australia
1  North America
2         Europe

# Pivot the data by the unique number of customers who ordered between 2023-01-01 and 2023-12-31 by the continent.

#

In [15]:
%%sql

SELECT
     s.orderdate,

    COUNT(DISTINCT CASE WHEN c.continent = 'Europe' THEN s.customerkey END) AS eu_customers,
    COUNT(DISTINCT CASE WHEN c.continent ='North America' THEN s.customerkey END ) AS north_america_customers,
    COUNT(DISTINCT CASE WHEN c.continent = 'Australia' THEN s.customerkey END ) AS australia_customer,
    COUNT(DISTINCT s.customerkey) AS total_customers
FROM
   sales s
LEFT JOIN customer c ON c.customerkey=s.customerkey
WHERE orderdate between  '2023-01-01' AND '2023-12-31'
GROUP BY  s.orderdate
ORDER BY s.orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

,orderdate,eu_customers,north_america_customers,australia_customer,total_customers
0,2023-01-01,6,5,1,12
1,2023-01-02,15,31,3,49
2,2023-01-03,17,44,3,64
3,2023-01-04,28,46,4,78
4,2023-01-05,22,57,8,87
...,...,...,...,...,...
359,2023-12-27,26,41,6,73
360,2023-12-28,24,44,7,75
361,2023-12-29,19,32,4,55
362,2023-12-30,25,50,16,91
363,2023-12-31,1,8,0,9