# 1. Count & Sum Aggregation

# 1.1 Load Data

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

1. Count The Total Customer

In [2]:
%%sql

SELECT
    orderdate,
    COUNT(customerkey) AS total_customers
FROM
    sales
GROUP BY
    orderdate
ORDER BY
    orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3294 rows affected.

       orderdate  total_customers
0     2015-01-01               25
1     2015-01-02                8
2     2015-01-03               21
3     2015-01-05               10
4     2015-01-06               12
...          ...              ...
3289  2024-04-16               32
3290  2024-04-17               61
3291  2024-04-18               57
3292  2024-04-19               50
3293  2024-04-20               97

[3294 rows x 2 columns]

2. Get The Unique Customer

In [3]:
%%sql

SELECT
    orderdate,
    COUNT(DISTINCT customerkey) AS total_customers -- Update
FROM
    sales
GROUP BY
    orderdate
ORDER BY
    orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3294 rows affected.

       orderdate  total_customers
0     2015-01-01                9
1     2015-01-02                6
2     2015-01-03               11
3     2015-01-05                4
4     2015-01-06                5
...          ...              ...
3289  2024-04-16               14
3290  2024-04-17               22
3291  2024-04-18               25
3292  2024-04-19               19
3293  2024-04-20               35

[3294 rows x 2 columns]

3. Calculate only for orders in 2023.

In [4]:
%%sql

SELECT
    orderdate,
    COUNT(DISTINCT customerkey) AS total_customers
FROM
    sales
WHERE  -- Added
    orderdate BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY
    orderdate
ORDER BY
    orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

      orderdate  total_customers
0    2023-01-01               12
1    2023-01-02               49
2    2023-01-03               64
3    2023-01-04               78
4    2023-01-05               87
..          ...              ...
359  2023-12-27               73
360  2023-12-28               75
361  2023-12-29               55
362  2023-12-30               91
363  2023-12-31                9

[364 rows x 2 columns]

---
## 2. Pivot with COUNT

1. Show What are the continent

In [5]:
%%sql

SELECT DISTINCT
    continent
FROM
    customer

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

       continent
0         Europe
1  North America
2      Australia

2. Pivot the data by the unique number of customers who ordered between 2023-01-01 and 2023-12-31 by the continent.

In [6]:
%%sql

SELECT
    s.orderdate,
    COUNT(DISTINCT CASE WHEN c.continent = 'Europe' THEN s.customerkey END) AS eu_customers,
    COUNT(DISTINCT CASE WHEN c.continent = 'North America' THEN s.customerkey END) AS na_customers,
    COUNT(DISTINCT CASE WHEN c.continent = 'Australia' THEN s.customerkey END) AS au_customers
FROM
    sales s
    LEFT JOIN customer c ON s.customerkey = c.customerkey
WHERE
    s.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY
    s.orderdate
ORDER BY
    s.orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

      orderdate  eu_customers  na_customers  au_customers
0    2023-01-01             6             5             1
1    2023-01-02            15            31             3
2    2023-01-03            17            44             3
3    2023-01-04            28            46             4
4    2023-01-05            22            57             8
..          ...           ...           ...           ...
359  2023-12-27            26            41             6
360  2023-12-28            24            44             7
361  2023-12-29            19            32             4
362  2023-12-30            25            50            16
363  2023-12-31             1             8             0

[364 rows x 4 columns]

<img src="../images/customer_continent.png" alt="Continent" width="50%">


# 3. Sum Aggregation

#### 3.1 Total Net Revenue by Day in 2023

In [7]:
%%sql

SELECT
    orderdate,
    SUM(quantity * netprice * exchangerate) AS net_revenue
FROM
   sales
WHERE
    orderdate BETWEEN  '2023-01-01' AND '2023-12-31'
GROUP BY
    orderdate
ORDER BY
    orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

      orderdate  net_revenue
0    2023-01-01     30140.80
1    2023-01-02    107847.49
2    2023-01-03    192655.60
3    2023-01-04    189451.71
4    2023-01-05    216573.23
..          ...          ...
359  2023-12-27    141981.34
360  2023-12-28    138772.19
361  2023-12-29     85913.44
362  2023-12-30    165917.02
363  2023-12-31      5594.66

[364 rows x 2 columns]

#### 3.2 Total Net Revenue by Product Category in 2022 and 2023

In [ ]:
%%sql
SELECT
     p.categoryname AS category_name,
     SUM(s.quantity * s. netprice * s.exchangerate ) AS net_revenue
FROM
    sales s
LEFT JOIN  product p ON  s.productkey = p.productkey
WHERE s.orderdate BETWEEN  '2023-01-01' AND '2023-12-31'
GROUP BY
    p.categoryname
ORDER BY
    p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                   category_name  net_revenue
0                          Audio    688690.18
1        Cameras and camcorders    1983546.29
2                    Cell phones   6002147.63
3                      Computers  11650867.21
4                 Games and Toys    270374.96
5                Home Appliances   5919992.87
6  Music, Movies and Audio Books   2180768.13
7                   TV and Video   4412178.23

3.3 Total Net Revenue by Category and Year (2022 vs 2023)

In [ ]:
%%sql

SELECT
    p.categoryname,
    SUM(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN  (s.quantity * s.netprice * s.exchangerate)END ) AS total_net_revenue_2022,
    SUM(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN (s.quantity * s.netprice * s.exchangerate)END )  AS total_net_revenue_2023
FROM sales s
LEFT JOIN product p ON s.productkey = p.productkey
GROUP BY
    p.categoryname
ORDER BY
    p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,total_net_revenue_2022,total_net_revenue_2023
0,Audio,766938.21,688690.18
1,Cameras and camcorders,2382532.56,1983546.29
2,Cell phones,8119665.07,6002147.63
3,Computers,17862213.49,11650867.21
4,Games and Toys,316127.30,270374.96
5,Home Appliances,6612446.68,5919992.87
6,"Music, Movies and Audio Books",2989297.28,2180768.13
7,TV and Video,5815336.61,4412178.23

<img src="../images/category_year.png" alt="Continent" width="50%">